html,body
{
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

/*body
{
  overflow-x: hidden;
}*/


@media (max-width:500px)
{
  #main-img h1
  {
    font-size: 40px;
    margin-top: 40px;
  }

  #bottomnavbar .navbar-collapse
  {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
   

}
#successbtn
{
  padding: 5px 15px;
  margin: 8px 8px;
  color: white;
  border-color: #fff;
}

#main-img
{
  background: url('../images/library.jpg');
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#main h1
{
  font-size: 70px;
  color: #fff;
  font-family: 'Abril Fatface', cursive;
  margin-top: 100px;
}

#main h2
{
  font-size: 30px;
  color: rgba(255,255,255,.7);
  font-weight: 100px;

}

nav.newnavbar
{
  margin-bottom: 1px;
  background-color: #FFB74D;
  border-color: #FFB74D;
  border-radius: 0px;
}

nav.newnavbar .navbar-brand
{
  color: black;
}

nav.bottomnav
{
  background-color: #FFB74D;
  border-color: #FFB74D;
  border-radius: 0px;
  margin-top: 1px;
}

.bottomnav .navbar-nav li a
{
  color:#000000;
}

.bottomnav .navbar-nav li a:hover,
.bottomnav .navbar-nav li a:active,
.bottomnav .navbar-nav li a:focus

{
  color:#795548;
  background:#ddd;



/*.bottomnav .navbar-nav li a:active,
.bottomnav .navbar-nav li a:focus
{
  /*color: #0e0223;*/
  outline: 0;
}

.overlay
{
  height: 100%;
  width: 100%;
  opacity: 0.5;
  position: absolute;
  background: gray;
  z-index: 1053;

}

.loading
{
  position: absolute;
  top: 50%;
  left: 50%;
  color: yellow;
  z-index: 1060;
}

 #loader
{
  display:none;
}
